<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ShortenMe</title>
  <link rel="stylesheet" href="/static/styles.css">
  <meta name="description" content="The requested URL was not found on ShortenMe. Return to the homepage to try again.">
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-TJ7KGK2GRP"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-TJ7KGK2GRP');
  </script>
</head>
<body>
  <h1>ShortenMe</h1>
  <h2>{{ .ShortURL }} not found. Please try again.</h2>
  <a href="/" class="button">Home</a>

  <footer>
    <p>&copy; 2025 ShortenMe | Created by <a href="https://github.com/yingtu35" target="_blank">Ying Tu</a></p>
    <p><a href="/terms">Terms of Service</a> | <a href="/privacy">Privacy Policy</a></p>
  </footer>
</body>
</html>