<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ShortenMe</title>
  <link rel="stylesheet" href="/static/styles.css">
  <meta name="description" content="ShortenMe allows you to shorten URLs and provides a ready-to-use shortened link.">
  
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-TJ7KGK2GRP"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-TJ7KGK2GRP');
  </script>
</head>
<body>
  <h1>ShortenMe</h1>
  <h2>Your shortened URL is ready!</h2>
  
  <div class="url-container">
    <input id="short-url" type="text" value="{{.ShortURL}}" readonly>
    <div>
      <button id="copy-button" class="button copy-button" onclick="copyURL()">Copy URL</button>
      <a href="{{.ShortURL}}" target="_blank" class="button visit-button">Visit URL</a>
    </div>
  </div>
  <p>Original URL: <a href="{{.OriginalURL}}" target="_blank">{{.OriginalURL}}</a></p>

  <p>Shorten another URL <a href="/" class="button">here</a></p>

  <footer>
    <p>&copy; 2025 ShortenMe | Created by <a href="https://github.com/yingtu35" target="_blank">Ying Tu</a></p>
    <p><a href="/terms">Terms of Service</a> | <a href="/privacy">Privacy Policy</a></p>
  </footer>

  <script>
    function copyURL() {
      const urlField = document.querySelector('#short-url');
      urlField.select();
      document.execCommand('copy');
      urlField.focus();
      // change button text to "Copied!"
      const copyButton = document.querySelector('#copy-button');
      copyButton.textContent = 'Copied!';
      setTimeout(() => {
        copyButton.textContent = 'Copy URL';
      }, 2000);
    }
  </script>
</body>
</html>