<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ShortenMe</title>
  <link rel="stylesheet" href="/static/styles.css">
  <meta name="description" content="View the click counts for your shortened URLs on ShortenMe.">
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-TJ7KGK2GRP"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-TJ7KGK2GRP');
  </script>
</head>
<body>
  <h1>ShortenMe</h1>
  <h2>URL Click Counts</h2>
  <p>Here are the click counts for the short URL:</p>
  <a href="{{.ShortURL}}" target="_blank">{{.ShortURL}}</a>
  <p>Click Count: {{.ClickCount}}</p>
  <p>Shorten another URL <a href="/" class="button">here</a></p>

  <footer>
    <p>&copy; 2025 ShortenMe | Created by <a href="https://github.com/yingtu35" target="_blank">Ying Tu</a></p>
    <p><a href="/terms">Terms of Service</a> | <a href="/privacy">Privacy Policy</a></p>
  </footer>
</body>
</html>